<div class="companies flex row">
  <div class="companies-form f-1">
    <h1>Set company</h1>
    <form (submit)="onSubmit()" [formGroup]="companyForm">
      <div>
        <label for="name">Company name</label>
        <input id="name" required formControlName="name" appOnlyEnglish>
        <div [hidden]="companyForm.controls.name.valid || companyForm.controls.name.pristine">
          Name is required
        </div>
      </div>
      <div>
        <label for="lat">Company lat</label>
        <input id="lat" formControlName="lat">
      </div>
      <div>
        <label for="lng">Company lng</label>
        <input id="lng" formControlName="lng">
      </div>

      <button type="button" (click)="resetCompany()">New company</button>
      <button [disabled]="!companyForm.valid" type="submit">Submit</button>
    </form>
  </div>
  <div class="companies-list f-1">
    <ul>
      <li (click)="setCompany(company)" *ngFor="let company of companies | async">
        <span class="company-title">{{ company.title }}</span>
        <span class="company-remove" (click)="removeCompany(company)">X</span>
      </li>
    </ul>
  </div>
</div>