/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0px;
}
.align-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}

.move {
    cursor: move;
}

.flex {
    display: flex;
    &.center {
        justify-content: center;
    }
    &.row {
        flex-direction: row;
    }
    &.column {
        flex-direction: column;
    }
    .f-1 {
        flex: 1;
    }
    .f-2 {
        flex: 2;
    }}